<%- include("partials/header") -%>

    <h1>About</h1>
    <p> <%= aboutContent %> </p>
    <p>View Source Code at <a href="https://github.com/suhani-kashyap/ejs-blog">GitHub</a></p>

<%- include("partials/footer") -%>